---
services:
  gluetun:
    image: qmcgaw/gluetun:v3.35.0@sha256:a98d1ec99e09a1b806aff7f0c3d8a133a8ede7d3d7a250b62029a39a61f01525 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      FIREWALL_OUTBOUND_SUBNETS: "{{ network_subnet }}"
      OPENVPN_PASSWORD: "{{ openvpn_password }}"
      OPENVPN_USER: "{{ openvpn_user }}"
      SERVER_COUNTRIES: United Kingdom
      VPN_SERVICE_PROVIDER: "{{ vpn_provider }}"
    volumes:
      - "{{ volumes_directory }}/gluetun/gluetun:/gluetun"
      # We need to override the resolv.conf due to a bug in gluetun.
      # See: https://github.com/qdm12/gluetun/issues/281
      - "{{ volumes_directory }}/gluetun/etc-resolv.conf:/etc/resolv.conf:ro"
    ports:
      # prowlarr
      - "9696:9696"

      # qbittorrent
      - "6881:6881"
      - "6881:6881/udp"
      - "28080:28080"

      # radarr
      - "7878:7878"

      # sabnzbd
      - "18080:8080"

      # sonarr
      - "18989:8989"
      - "19090:9090"
    cap_add:
      - NET_ADMIN
    restart: always

  plex:
    image: lscr.io/linuxserver/plex:1.32.6@sha256:daca6dd5423e68888cee04583397060f206195b91bb85c0a3014ceb1cdf33bcc # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/plex/config:/config"

      - "{{ media_directory }}/tv:/tv"
      - "{{ media_directory }}/movies:/movies"
    devices:
      - /dev/dri:/dev/dri
    network_mode: host
    healthcheck:
      test: >
        (curl -f http://localhost:32400/identity && curl -f api.ipify.org) ||
        exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:1.9.4@sha256:589ffaf04fcd4b74f7ebedfadfea2c7eadb357a7d16b04d7b1c5e554b0c43119 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/prowlarr/config:/config"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:9696 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:4.5.5@sha256:4416e00b2cb8978acf48302e37e11e2609465c56ecc90c740ce9c0d9e472df53 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"

      WEBUI_PORT: 28080
    volumes:
      - "{{ volumes_directory }}/qbittorrent/config:/config"

      - "{{ downloads_directory }}/torrents:/downloads"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:28080 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  radarr:
    image: lscr.io/linuxserver/radarr:5.0.3@sha256:e660626b6f7e08298573dba7e89b0d40d1b11dceb9010a28074385567ad36fe7 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/radarr/config:/config"

      - "{{ downloads_directory }}:/downloads"
      - "{{ media_directory }}/movies:/movies"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:7878 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:4.1.0@sha256:e5240377d64e31de0b3fecdf640f8bdf4a5d4591debd1f0fb6bde43ff3fb6262 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/sabnzbd/config:/config"

      - "{{ downloads_directory }}/usenet/complete:/downloads"
      - "{{ downloads_directory }}/usenet/temp:/incomplete-downloads"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:8080 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  sonarr:
    image: lscr.io/linuxserver/sonarr:3.0.10@sha256:296e553380b1b5d32be623ce2b97f67b69fc57449b9ef07195baa6a5df2b9bd6 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/sonarr/config:/config"

      - "{{ downloads_directory }}:/downloads"
      - "{{ media_directory }}/tv:/tv"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:8989 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 120s
    restart: always
