---
services:
  gluetun:
    image: qmcgaw/gluetun:v3.38.0@sha256:5522794f5cce6d84bc7f06b1e3a3b836ede9100c64aec94543cb503bb2ecb72f # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      FIREWALL_OUTBOUND_SUBNETS: "{{ network_subnet }}"
      OPENVPN_PASSWORD: "{{ openvpn_password }}"
      OPENVPN_USER: "{{ openvpn_user }}"
      SERVER_COUNTRIES: United Kingdom
      VPN_SERVICE_PROVIDER: "{{ vpn_provider }}"
    volumes:
      - "{{ volumes_directory }}/gluetun/gluetun:/gluetun"
      # We need to override the resolv.conf due to a bug in gluetun.
      # See: https://github.com/qdm12/gluetun/issues/281
      - "{{ volumes_directory }}/gluetun/etc-resolv.conf:/etc/resolv.conf:ro"
    ports:
      # prowlarr
      - "9696:9696"

      # qbittorrent
      - "6881:6881"
      - "6881:6881/udp"
      - "28080:28080"

      # radarr
      - "7878:7878"

      # sabnzbd
      - "18080:8080"

      # sonarr
      - "18989:8989"
      - "19090:9090"
    cap_add:
      - NET_ADMIN
    restart: always

  plex:
    image: lscr.io/linuxserver/plex:1.40.2@sha256:114bc1566b442144552843fe43c45ca1a4fb023b46ce2c75485d611792e45519 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/plex/config:/config"

      - "{{ media_directory }}/tv:/tv"
      - "{{ media_directory }}/movies:/movies"
    devices:
      - /dev/dri:/dev/dri
    network_mode: host
    healthcheck:
      test: >
        (curl -f http://localhost:32400/identity && curl -f api.ipify.org) ||
        exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:1.16.2@sha256:6b5ff7b10a42c025a460aef018ad77dde61c6a22a6db26eed8e86050014212ae # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/prowlarr/config:/config"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:9696 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:4.6.4@sha256:9c7f4344085c234194db4f6ca76c646f423e382ad826c5e4270dac13b89aba48 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"

      WEBUI_PORT: 28080
    volumes:
      - "{{ volumes_directory }}/qbittorrent/config:/config"

      - "{{ downloads_directory }}/torrents:/downloads"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:28080 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  radarr:
    image: lscr.io/linuxserver/radarr:5.4.6@sha256:1c2f2abbabd19c47549a4e7c3315402a3a4c37f141ba56cef3395ec6b292a015 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/radarr/config:/config"

      - "{{ downloads_directory }}:/downloads"
      - "{{ media_directory }}/movies:/movies"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:7878 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:4.3.0@sha256:0c3a6644a21fc365c5a3ef44525e961e458f862e74852bf1828d35f478463566 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/sabnzbd/config:/config"

      - "{{ downloads_directory }}/usenet/complete:/downloads"
      - "{{ downloads_directory }}/usenet/temp:/incomplete-downloads"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:8080 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.4@sha256:25e0f3b3741cf8df6c322d6c9016b5be91ca6e154653b4d01c8c125bf1ce75c0 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/sonarr/config:/config"

      - "{{ downloads_directory }}:/downloads"
      - "{{ media_directory }}/tv:/tv"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:8989 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 120s
    restart: always
