---
services:
  netdata:
    image: netdata/netdata:v1.43.2@sha256:0116a5a4dbfedd84d80eba320f5d99d547da5d9bc0841adde0d7f13bed25f73a # editorconfig-checker-disable-line
    hostname: "netdata-{{ inventory_hostname }}"
    environment:
      TZ: "{{ timezone }}"

      DOCKER_HOST: docker-socket-proxy:2375
    volumes:
      - "{{ volumes_directory }}/netdata:/etc/netdata:ro"

      - /etc/group:/host/etc/group:ro
      - /etc/passwd:/host/etc/passwd:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    ports:
      - "19999:19999"
    security_opt:
      - apparmor:unconfined
    cap_add:
      - SYS_PTRACE
    restart: always

  docker-socket-proxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:0.1.1@sha256:6c22b9545adc95258af9deffdde6c0ce0a0a70716771e5a4e02d24d1b6e0dda1 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      CONTAINERS: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "2375:2375"
    restart: always

  prometheus:
    image: prom/prometheus:v2.48.0@sha256:b440bc0e8aa5bab44a782952c09516b6a50f9d7b2325c1ffafac7bc833298e2e # editorconfig-checker-disable-line
    user: "{{ ansible_admin_user_uid }}:{{ ansible_admin_user_gid }}"
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/prometheus/etc-prometheus:/etc/prometheus"
      - "{{ volumes_directory }}/prometheus/prometheus:/prometheus"
    ports:
      - "9090:9090"
    restart: always

  unpoller:
    image: ghcr.io/unpoller/unpoller:v2.9.4@sha256:20c161781ac544a7548c8dd533f13498201746efdf0853d4625a1dbfd5652a19 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/unpoller/config:/config"
    ports:
      - "9130:9130"
    restart: always

  grafana:
    image: grafana/grafana-oss:10.2.2@sha256:e3e9c2b5776fe3657f4954dfa91579224f98a0316f51d431989b15425e95530f # editorconfig-checker-disable-line
    user: "{{ ansible_admin_user_uid }}:{{ ansible_admin_user_gid }}"
    environment:
      TZ: "{{ timezone }}"

      GF_INSTALL_PLUGINS: >
          grafana-clock-panel,grafana-piechart-panel,natel-discrete-panel
    volumes:
      - "{{ volumes_directory }}/grafana/etc-grafana:/etc/grafana"
      - "{{ volumes_directory }}/grafana/var-lib-grafana:/var/lib/grafana"
    ports:
      - "3000:3000"
    restart: always

  graylog:
    image: graylog/graylog:4.3.15@sha256:2f6a1ba45cbd4af6382fe325d443f430beaf2cafc76b70d2ab3e90cba563f574 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/graylog:/usr/share/graylog/data"
    ports:
      # Web interface and REST API
      - "9900:9900"

      # Syslog
      - "514:514"
      - "514:514/udp"

      # GELF
      - "12201:12201"
      - "12201:12201/udp"
    entrypoint: >
      /usr/bin/tini -- wait-for-it elasticsearch:9200 -- /docker-entrypoint.sh
    links:
      - mongodb:mongo
      - elasticsearch
    depends_on:
      - mongodb
      - elasticsearch
    restart: always

  mongodb:
    image: mongo:4.4.26@sha256:e102bde93f3a876642d91d6dfcc2902308335cb7414b74b116e0692a8622c7b3 # editorconfig-checker-disable-line
    user: "{{ ansible_admin_user_uid }}:{{ ansible_admin_user_gid }}"
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/mongodb/db:/data/db"
    restart: always

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2@sha256:2c257b68f361872e13bdd476cba152e232a314ec61b0eedfc1f71b628ba39432 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      http.host: 0.0.0.0
      network.host: 0.0.0.0
      transport.host: localhost
    volumes:
      - "{{ volumes_directory }}/elasticsearch:/usr/share/elasticsearch/data"
    restart: always

  autoheal:
    image: willfarrell/autoheal:1.2.0@sha256:31f580ef0279eaced5b38d631b08c474d70d8403c1c2fdd6ddcf2e879d5f3f7c # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
