---
services:
  netdata:
    image: netdata/netdata:v1.37.1@sha256:e789f8af0983660ca3617882adbd41636a6c6f6cdf1da7dd994e84e0b8247295 # editorconfig-checker-disable-line
    hostname: "netdata-{{ inventory_hostname }}"
    environment:
      TZ: "{{ timezone }}"

      DOCKER_HOST: docker-socket-proxy:2375
    volumes:
      - "{{ volumes_directory }}/netdata:/etc/netdata:ro"

      - /etc/group:/host/etc/group:ro
      - /etc/passwd:/host/etc/passwd:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    ports:
      - "19999:19999"
    security_opt:
      - apparmor:unconfined
    cap_add:
      - SYS_PTRACE
    restart: always

  docker-socket-proxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:0.1.1@sha256:6c22b9545adc95258af9deffdde6c0ce0a0a70716771e5a4e02d24d1b6e0dda1 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      CONTAINERS: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "2375:2375"
    restart: always

  prometheus:
    image: prom/prometheus:v2.41.0@sha256:1a3e9a878e50cd339ae7cf5718fda08381dda2d4ccd28e94bbaa3190d1a566c2 # editorconfig-checker-disable-line
    user: "{{ ansible_admin_user_uid }}:{{ ansible_admin_user_gid }}"
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/prometheus/etc-prometheus:/etc/prometheus"
      - "{{ volumes_directory }}/prometheus/prometheus:/prometheus"
    ports:
      - "9090:9090"
    restart: always

  unpoller:
    image: ghcr.io/unpoller/unpoller:v2.7.10@sha256:66753ff2273bf293a6ac2d013aae9cfca00476ee338fff665ff81bf67bd8867d # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/unpoller/config:/config"
    ports:
      - "9130:9130"
    restart: always

  grafana:
    image: grafana/grafana-oss:9.3.2@sha256:2a73ae33c9f0c51af6eced2ef185d5d3682b4c378c4fdd6941a14e8ea4a3e95b # editorconfig-checker-disable-line
    user: "{{ ansible_admin_user_uid }}:{{ ansible_admin_user_gid }}"
    environment:
      TZ: "{{ timezone }}"

      GF_INSTALL_PLUGINS: >
          grafana-clock-panel,grafana-piechart-panel,natel-discrete-panel
    volumes:
      - "{{ volumes_directory }}/grafana/etc-grafana:/etc/grafana"
      - "{{ volumes_directory }}/grafana/var-lib-grafana:/var/lib/grafana"
    ports:
      - "3000:3000"
    restart: always

  graylog:
    image: graylog/graylog:5.0.2@sha256:ceda60c2078e5d38fe12cd7b3f56f1321f74cc873de70c4b7120649b4862fc69 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/graylog:/usr/share/graylog/data"
    ports:
      # Web interface and REST API
      - "9900:9900"

      # Syslog
      - "514:514"
      - "514:514/udp"

      # GELF
      - "12201:12201"
      - "12201:12201/udp"
    entrypoint: >
      /usr/bin/tini -- wait-for-it elasticsearch:9200 -- /docker-entrypoint.sh
    links:
      - mongodb:mongo
      - elasticsearch
    depends_on:
      - mongodb
      - elasticsearch
    restart: always

  mongodb:
    image: mongo:4.4.18@sha256:77afcc931f3035e5ee9bb3d456013274d3a3c9edd358e28ded7bafdedaf173ee # editorconfig-checker-disable-line
    user: "{{ ansible_admin_user_uid }}:{{ ansible_admin_user_gid }}"
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/mongodb/db:/data/db"
    restart: always

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2@sha256:2c257b68f361872e13bdd476cba152e232a314ec61b0eedfc1f71b628ba39432 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      http.host: 0.0.0.0
      network.host: 0.0.0.0
      transport.host: localhost
    volumes:
      - "{{ volumes_directory }}/elasticsearch:/usr/share/elasticsearch/data"
    restart: always

  autoheal:
    image: willfarrell/autoheal:1.2.0@sha256:31f580ef0279eaced5b38d631b08c474d70d8403c1c2fdd6ddcf2e879d5f3f7c # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      AUTOHEAL_CONTAINER_LABEL: all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
