---
services:
  home-assistant:
    image: lscr.io/linuxserver/homeassistant:2024.1.4@sha256:f7c2f7b20434ba1f3e7b1caa44d049018b87b9fdbce54ef01f4d760f2bd2e32f # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/home-assistant/config:/config"
    network_mode: host
    restart: always

  tasmoadmin:
    image: ghcr.io/tasmoadmin/tasmoadmin:v3.3.3@sha256:3727bc404c4e804b0f1d52d7399c83e65afd5b854a63dbfea0b63e1b22c3b863 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/tasmoadmin/data:/data"
    ports:
      - "5880:80"
    restart: always

  mosquitto:
    image: eclipse-mosquitto:2.0.18@sha256:fa9822d3e9bdb12c80f6cb7ddd22922b26c1cd4ffa071815242ac156f9559d7d # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/mosquitto/config:/mosquitto/config"
      - "{{ volumes_directory }}/mosquitto/data:/mosquitto/data"
      - "{{ volumes_directory }}/mosquitto/log:/mosquitto/log"
    ports:
      - "1883:1883"
      - "9001:9001"
    restart: always

  node-red:
    image: nodered/node-red:3.1.3@sha256:75e48924159f6c6bf4221017069a8b496cab8d0b21d3d0b1fcaf058af8294865 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/node-red/data:/data"
    ports:
      - "1880:1880"
    restart: always
