---
services:
  home-assistant:
    image: lscr.io/linuxserver/homeassistant:2024.4.1@sha256:68486ce2de1b5527b5460e3c25cb7c659ac6cc4231c7ef175a548380b89ce810 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/home-assistant/config:/config"
    network_mode: host
    restart: always

  tasmoadmin:
    image: ghcr.io/tasmoadmin/tasmoadmin:v4.0.1@sha256:1ac933f2d9e191cb67d5b1ee65848d2b19acdf496725291234e4f1cba2b84e7d # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/tasmoadmin/data:/data"
    ports:
      - "5880:80"
    restart: always

  mosquitto:
    image: eclipse-mosquitto:2.0.18@sha256:cb3afd02611b0c58b328196ab00de0158322b4c1e014841fb182d2a0ea3a79b9 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/mosquitto/config:/mosquitto/config"
      - "{{ volumes_directory }}/mosquitto/data:/mosquitto/data"
      - "{{ volumes_directory }}/mosquitto/log:/mosquitto/log"
    ports:
      - "1883:1883"
      - "9001:9001"
    restart: always

  node-red:
    image: nodered/node-red:3.1.8@sha256:c2990ca2ed6ca3d36cc558f25c21e261ca966b3dc7194fc4df83352573cfb5f9 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/node-red/data:/data"
    ports:
      - "1880:1880"
    restart: always
