---
services:
  home-assistant:
    image: lscr.io/linuxserver/homeassistant:2023.9.2@sha256:13df4f04168e9ba93909e5c60eb2705c4cc3d478ae7a36794a50e291b11280a8 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/home-assistant/config:/config"
    network_mode: host
    restart: always

  tasmoadmin:
    image: ghcr.io/tasmoadmin/tasmoadmin:v3.1.1@sha256:c8dcb599609b1542bc2055139fd369f7c0cb2fb693acc365c59fccb6b5973aa1 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/tasmoadmin/data:/data"
    ports:
      - "5880:80"
    restart: always

  mosquitto:
    image: eclipse-mosquitto:2.0.18@sha256:9f24f0560e13b8d8983757472770b404f270210f88b4ce0efcd547458f05e817 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/mosquitto/config:/mosquitto/config"
      - "{{ volumes_directory }}/mosquitto/data:/mosquitto/data"
      - "{{ volumes_directory }}/mosquitto/log:/mosquitto/log"
    ports:
      - "1883:1883"
      - "9001:9001"
    restart: always

  node-red:
    image: nodered/node-red:3.1.0@sha256:5e99ed734f7d2f9bfcb1e20dfbf4c5b9aa60f35a9df6e257e817130f0f9be9dc # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/node-red/data:/data"
    ports:
      - "1880:1880"
    restart: always
