{{ ansible_managed | comment }}

source ~/.antigenrc

# Aliases and functions must be first due to dependencies. Also, `aliases` has a
# dependency on `functions`.
source ~/.zsh/functions.zsh
source ~/.zsh/aliases.zsh

source ~/.zsh/completion.zsh
source ~/.zsh/fuck.zsh
source ~/.zsh/options.zsh
source ~/.zsh/starship.zsh
source ~/.zsh/zoxide.zsh

# Created from `asdf direnv setup --shell zsh --version system`
# See: https://github.com/asdf-community/asdf-direnv#setup
source "${XDG_CONFIG_HOME:-$HOME/.config}/asdf-direnv/zshrc"

source ~/.zsh/extra-zshrc-config.zsh
