---
services:
  github-runner-homelab:
    image: myoung34/github-runner:2.311.0@sha256:848c5db3b29ba7fa41ebe161f16d9f23b8c48ddcf2c1984b8d9f7288536c2a3f # editorconfig-checker-disable-line

    # This is the `runner` user.
    # See: https://github.com/myoung34/docker-github-actions-runner/wiki/Usage#non-root-runners editorconfig-checker-disable-line
    user: "1001:121"

    environment:
      # Runner
      RUNNER_NAME_PREFIX: homelab
      REPO_URL: https://github.com/akikanellis/homelab
      RUNNER_SCOPE: repo
      LABELS: linux,x64,prod

      # GitHub app
      APP_ID: "{{ aki_bot_app_id }}"
      APP_PRIVATE_KEY: |-
        {{ aki_bot_app_private_key | indent(width=8) }}

      # Other
      DISABLE_AUTO_UPDATE: "true"
      RUNNER_WORKDIR: /data/work
      RUN_AS_ROOT: "false"
    volumes:
      - "{{ volumes_directory }}/github-runner-homelab/data:/data"

      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
