---
services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:2.5.6@sha256:2db0af2dd479219711e3f8697717f73f8f4a68009ac08890f059eeeaccb8f5fc # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/heimdall:/config"
    ports:
      - "180:80"
      - "1443:443"
    restart: always
