---
services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:2.6.1@sha256:440c83b0172d33d16c19197375172a1148cd944ad3ebaae1b7138b190dfa9c83 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/heimdall:/config"
    ports:
      - "180:80"
      - "1443:443"
    restart: always
