---
services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:2.6.1@sha256:4bc39fa9b080d2e04075d61d4947669cd458575cb09e0d447ff5e2d2e25eee57 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/heimdall:/config"
    ports:
      - "180:80"
      - "1443:443"
    restart: always
