---
dependency:
  name: galaxy
  options:
    requirements-file: requirements.yml
    role-file: requirements.yml

driver:
  name: vagrant

platforms:
  - name: workstation-pop-os
    groups: [workstations]
    box: ubuntu/jammy64
    # `cpus` need to match the core count used by the CI. Currently, we are
    # using a 3-core macos-10.15 instance in '.github/workflows/test.yml'.
    # See:
    # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
    cpus: 3
    memory: 1024

provisioner:
  name: ansible
  config_options:
    defaults:
      vault_password_file: |
        ${MOLECULE_SCENARIO_DIRECTORY}/../../vault-password-dev.txt
  inventory:
    links:
      group_vars: ../../inventories/dev/group_vars/

verifier:
  name: ansible
