[defaults]
inventory=inventories/prod

remote_user=ansible

roles_path=galaxy/roles:roles
collections_path=galaxy/collections:collections
inventory_plugins=inventory_plugins

vault_identity_list = dev@vault-password-dev.txt, prod@vault-password-prod.sh

strategy=free

# server-pi is quite slow which causes frequent timeouts with the message
# "Timeout (12s) waiting for privilege escalation prompt: ".
# Increasing the timeout to 30 seconds should help prevent this issue.
timeout = 30

[connection]
pipelining=True
