{{ ansible_managed | comment }}

# Enable aliases to be sudo’ed
alias sudo="sudo "

alias path='echo -e ${PATH//:/\\n}'

alias reload='exec ${SHELL} -l'
alias o="open ."

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

alias d="cd ~/Documents"
alias dl="cd ~/Downloads"
alias p="cd ~/Projects"

alias c="clear"

alias exa="exa --colour=always --classify --icons --group-directories-first"
alias ls="exa"
alias l="ls"
alias ll="l --long --binary --group --header --time-style=long-iso"
alias la="ll --all"
alias lm="ll --sort=modified --reverse"
alias lam="lm --all"
alias lt="l --tree"

alias cat="bat"

alias rg="rg --pretty --follow --smart-case"
alias grep="rg"

alias find="fd"

alias top="btop"

alias vim="nvim"
alias vi="nvim"

if command_exists doggo; then
  alias dig="doggo"
fi

alias fzfp="fzf --preview 'less {}' --preview-window 'wrap'"

alias j="just --unstable"

alias diff="delta"

# The default gbl alias is 'git blame -b -w'. The '-b option' is not compatible
# with delta
alias gbl="git blame"

alias lzg="lazygit"
alias lzd="lazydocker"
