{{ ansible_managed | comment }}

source ~/.antigenrc
source ~/.zsh/zoxide.zsh
source ~/.zsh/fuck.zsh
source ~/.zsh/starship.zsh

# Created from `asdf direnv setup --shell zsh --version system`
# See: https://github.com/asdf-community/asdf-direnv#setup
source "${XDG_CONFIG_HOME:-$HOME/.config}/asdf-direnv/zshrc"
