---
name: dns

services:
  pihole:
    image: pihole/pihole:2023.02.2@sha256:9abbf1c218f32a4084e614150a44714f046f73c40a9d2889a0e6edf01ff0a387 # editorconfig-checker-disable-line
    hostname: dns-primary
    environment:
      TZ: "{{ timezone }}"

      WEBPASSWORD: "{{ pihole_password }}"
    volumes:
      - "{{ volumes_directory }}/pihole/etc-dnsmasq.d:/etc/dnsmasq.d"
      - "{{ volumes_directory }}/pihole/etc-pihole:/etc/pihole"
    ports:
      - "53:53"
      - "53:53/udp"
      - "80:80"
      - "443:443"
    dns:
      - 127.0.0.1
      - 8.8.8.8
    restart: always
