---
name: dns

services:
  pihole:
    image: pihole/pihole:2024.03.2@sha256:e01b4ad0f953f0b1f53148632aa233579837861022e8784a504c14ea066ceab1 # editorconfig-checker-disable-line
    hostname: dns-primary
    environment:
      TZ: "{{ timezone }}"

      WEBPASSWORD: "{{ pihole_password }}"
    volumes:
      - "{{ volumes_directory }}/pihole/etc-dnsmasq.d:/etc/dnsmasq.d"
      - "{{ volumes_directory }}/pihole/etc-pihole:/etc/pihole"
    ports:
      - "53:53"
      - "53:53/udp"
      - "80:80"
      - "443:443"
    dns:
      - 127.0.0.1
      - 8.8.8.8
    restart: always
