---
services:
  portainer:
    image: portainer/portainer-ce:2.18.1@sha256:45104bb2ecbc7c24de937b4c43f87b85c9c7dd46924d27203c2aa2a613f78322 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/portainer:/data"

      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
      - "9000:9000"
    restart: always
